/*Zerando valores da tela*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
/*Definindo valores para o corpo da página*/
body{
    background-color: #DCDCDC;
    font-family: 'Comic Sans MS', fantasy;
}
/*Estilo da mensagem de vencedor*/
#vencedor{
    font-size: 117px;
    color: #FF0000;
    font-weight: bold;
}
/*Deixa todas as imagens de X e O invisíveis*/
.image{
    display: none;
}
/*Deixa as imagens de linhas e da velha invisíveis*/
.invisible{
    position: absolute;
    display: none;
}
/*Linha vertical*/
#linha_v{
    width: 60px;
    height: 505px;
}
/*Linha diagonal 1*/
#linha_d1{
    height: 500px;
    width: 500px;
}
/*Linha diagonal 2*/
#linha_d2{
    height: 500px;
    width: 500px;
}
/*Ajustando imagem da velha e mensagem de velha*/
#idvelha{
    margin-left: 26.5%;
    text-align: center;
    color: #FF0000;
    font-size: 45px;
    font-weight: bold;
}
/*Estilo do botão padrão*/
button{
    border: none;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Comic Sans MS';
    border-radius: 5px;
    cursor: pointer;
}

button#novoJogo{
    background-color: #222;
    color: #FFF;
    box-shadow: 0 4px 0 #696969;
}

button#novoJogo:hover{
    background-color: #000;
}

#novoJogo:active{
    position:relative;
    top:5px;
    box-shadow:none;
  }

button#zerar{
    background-color: #00FFFF;
    box-shadow: 0 4px 0 #008B8B;
    margin-top: 5px;
}

button#zerar:hover{
    background-color:#40E0D0;
}

#zerar:active{
    position:relative;
    top:5px;
    box-shadow:none;
  }

.cabecalho{
    margin: 0 0 20px 0 ;
    padding: 15px;
    background-color: #00008B;
    color: #FFF;
}

img{
    margin: 5px;
    width: 100%;
}


h1.titulo{
    text-align: center;
}

#placar{
    position: absolute;
    top: 0;
    left: 80%;
    font-size: 20px;
}

#opcoes{
    float: left;
    position: absolute;
    top: 200px;
    left:100px
}

#box-principal{
    position: relative;
    width: 515px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.titulo{
    font-size: 55px;
}

.box{
    width: 164px;
    height: 164px;
}

#box-1{
    border-right: 10px solid black;
    border-bottom: 10px solid black;
}

#box-2{
    border-right: 10px solid black;
    border-bottom: 10px solid black;
}

#box-3{
    border-bottom: 10px solid black;
}

#box-4{
    border-right: 10px solid black;
    border-bottom: 10px solid black;
}

#box-5{
    border-right: 10px solid black;
    border-bottom: 10px solid black;
}

#box-6{
    border-bottom: 10px solid black;
}

#box-7{
    border-right: 10px solid black;
}

#box-8{
    border-right: 10px solid black;
}