* {
    padding: 0;
    margin: 0;
    border: 0;
}

.image{
    display: none;
}

.linha{
    position: absolute;
    display: none;
}

#linha_v{
    width: 60px;
    height: 505px;
}

#sombra{
    position: absolute;
    margin-left: 26.5%;
    display: none;
    text-align: center;
    color: #FF0000;
    font-size: 45px;
    font-weight: bold;
}

button{
    border: none;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Comic Sans MS';
    border-radius: 5px;
    cursor: pointer;
}

button#nJogo{
    background-color: #222;
    color: #FFF;
    box-shadow: 0 4px 0 #696969;
}

button#nJogo:hover{
    background-color: #000;
}

#nJogo:active{
    position:relative;
    top:5px;
    box-shadow:none;
  }

button#zerar{
    background-color: #00FFFF;
    box-shadow: 0 4px 0 #008B8B;
    margin-top: 5px;
}

button#zerar:hover{
    background-color:#40E0D0;
}

#zerar:active{
    position:relative;
    top:5px;
    box-shadow:none;
  }

img#imgvelha{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

body{
    background-color: #DCDCDC;
    font-family: 'Comic Sans MS', fantasy;
}

.cabecalho{
    margin: 0 0 20px 0 ;
    padding: 15px;
    background-color: #00008B;
    color: #FFF;
}

img{
    margin: 5px;
    width: 100%;
}


h1.titulo{
    text-align: center;
}

#placar{
    position: absolute;
    top: 0;
    left: 80%;
    font-size: 20px;
}

#func{
    float: left;
    position: absolute;
    top: 200px;
    left:100px
}

.box-principal{
    position: relative;
    width: 515px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.titulo{
    font-size: 55px;
}

#box-1{
    width: 164px;
    height: 164px;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
}

#box-2{
    width: 164px;
    height: 164px;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
}

#box-3{
    width: 164px;
    height: 164px;
    border-bottom: 10px solid black;
}

#box-4{
    width: 164px;
    height: 164px;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
}

#box-5{
    width: 164px;
    height: 164px;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
}

#box-6{
    width: 164px;
    height: 164px;
    border-bottom: 10px solid black;
}

#box-7{
    width: 164px;
    height: 164px;
    border-right: 10px solid black;
}

#box-8{
    width: 164px;
    height: 164px;
    border-right: 10px solid black;
}

#box-9{
    width: 164px;
    height: 164px;
}